@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  background-color: #f2f2f2;
  margin: 0;
}

img {
  max-width: 100%;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  flex-direction: column;
  min-height: 100%;
  box-shadow: 0 0 15px rgba (0, 0, 0, 0.2);
  background-color: #ffffff;
}

.main-index {
  text-align: center;
  flex-grow: 1;
}

.main-header {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
}

.main-inner {
  margin: 0;
  padding: 0;
}

.inner-container {
  display: flex;
  width: 100%;
  max-width: 1060px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.filter-container {
  width: 100%;
  max-width: 1060px;
  margin: 0 auto;
}

.logo {
  margin: 0;
  padding: 0;
  width: 139px;
  margin-bottom: -15px;
  z-index: 1;
  margin-right: 30px;
}

.navigation {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  flex-grow: 1;
  align-items: center;
}

.navigation-list {
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: 0 auto;
  justify-content: space-between;
  list-style-type: none;
  flex-wrap: wrap;
}

.navigation-item {
  margin-right: 34px;
}

.navigation-user {
  margin: 0;
  padding: 0;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
}

.navigation-link {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  text-transform: none;
  display: block;
  padding: 20px 0 20px 0;
  cursor: pointer;
}

.navigation-user-link {
  color: #ffffff;
  text-decoration: none;
  display: block;
  min-width: 42px;
  min-height: 37px;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
}

.counter {
  position: absolute;
  background-color: #7DB54F;
  border-radius: 100%;
  right: 0;
  top: 5px;
  font-size: 10px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation-user-item {
  margin-left: 20px;
}

.navigation-user .navigation-user-item:nth-child(1) .navigation-user-link {
  background-image: url("../images/nav-search.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-user .navigation-user-item:nth-child(2) .navigation-user-link {
  background-image: url("../images/nav-favorite.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-link-current::before {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 2px;
  content: "";
  background-color: #756257;
}

.navigation-link {
  position: relative;
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  background-color: #756157;
  border-radius: 4px;
  width: 160px;
  height: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:focus {
  background-color: #615048;
}

.button:hover {
  background-color: #615048;
}

.button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.button:disabled {
  background-color: #E5E5E5;
  color: #ffffff;
}

.main-logo {
  background-image: url("../images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  position: relative;
  min-height: 485px;
}

.main-logo::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 57px;
  z-index: 5;
  background-image: url("../images/promo-vector.svg");
}

.main-promo-logo {
  margin-top: 51px;
  margin-bottom: 25px;
}

.section-promo {
  padding-top: 63px;
  padding-bottom: 90px;
}

.section-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 31px;
}

.section-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 46px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
  margin-top: 30px;
  margin-bottom: 30px;
}

.advantages-item {
  width: calc(100% / 3);
  align-items: center;
}

.advantages-item-image {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.advantages-item-small {
  width: 100%;
}

.advantages-img {
  display: block;
}

.advantages-backgrond {
  background-color: #82B3D3;
  width: calc(100% / 3);
}

.advantages-content {
  min-height: 384px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
}

.advantages-second {
  color: #ffffff;
}

.advantages-backgrond-second {
  background-color: #ffffff;
}

.advantages-third {
  background-color: rgba(131, 179, 211, 0.12);
  ;
}

.advantages-description {
  display: block;
  max-width: 230px;
  margin-top: 0;
  margin-bottom: 0;
}

.advantages-icon-house::before {
  background-image: url("../images/advantages-icon-house.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 75px;
  height: 72px;
  content: "";
}

.advantages-icon-food::before {
  background-image: url("../images/advantages-icon-food.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 74px;
  height: 70px;
  content: "";
}

.advantages-icon-souvenir::before {
  background-image: url("../images/advantages-icon-souvenir.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 64px;
  height: 76px;
  content: "";
}

.section-search {
  background-color: #ffffff;
  padding-top: 91px;
  padding-bottom: 93px;
}

.section-title-second {
  color: #ffffff;
}

.section-description-second {
  color: #ffffff;
}

.button-second::placeholder {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  padding: 12px 15px;
}

.button-second {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #756157;
  width: 574px;
}

.footer-subscribe {
  text-align: center;
  background-color: #ffffff;
  padding-top: 94px;
  padding-bottom: 94px;
}

.button-subscribe:focus {
  background-color: blue;
}

.button-subscribe:hover {
  background-color: #68A2CA;
}

.button-subscribe:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-subscribe-decor {
  background-image: url("../images/subscribe-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-left: 0 auto;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47px;
  height: 40px;
}

.footer-social-icon {
  fill: #83B3D3;
}

.footer-social-icon:focus {
  fill: #68A2CA;
}

.footer-social-icon:hover {
  fill: #68A2CA;
}

.footer-social-icon:active {
  fill: rgba(104, 162, 202, 0.3);
}

.section-title-decor {
  color: #ffffff;
  margin-top: 0;
}

.section-description-second {
  color: #ffffff;
}

.field {
  width: 600px;
  height: 60px;
  border-radius: 10px 0 0 10px;
  border: none;
}

.field::placeholder {
  padding: 20px 491px 19px 22px;
  font-size: 400;
  color: #000000;
  background-color: #F2F2F2;
}

.button-subscribe {
  padding: 12px 15px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #82B3D3;
  text-transform: uppercase;
  border-radius: 0 10px 10px 0;
  border: none;
  cursor: pointer;
}

.main-footer {
  background-color: #ffffff;
}

.footer-contacts {
  display: flex;
  justify-content: space-between;
  padding-top: 45px;
  padding-bottom: 35px;
}

.footer-contacts-phone {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  text-transform: none;
}

.footer-contacts-phone:focus {
  color: #756157;
}

.footer-contacts-phone:hover {
  color: #756157;
}

.footer-contacts-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.htmlacademy-icon {
  fill: #000000;
}

.htmlacademy-icon:focus {
  fill: #756157;
}

.htmlacademy-icon:hover {
  fill: #756157;
}

.htmlacademy-icon:active {
  fill: rgba(117, 97, 87, 0.3);
}

.filter {
  background-image: url("../images/catalog-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  padding-top: 35px;
  padding-bottom: 70px;
}

.filter-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  list-style-type: none;
}

.breadcrumbs-item {
  margin-right: 25px;
}

.breadcrumbs-item:not(:last-child)::after {
  background-image: url("../images/breadcrumbs-item.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 6px;
  height: 8px;
  content: "";
  position: absolute;
}

.breadcrumbs-link {
  font-weight: 400;
  color: #ffffff;
  position: relative;
}

.breadcrumbs-link:focus {
  color: #FFFFFF
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.filter-catalog {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.filter-catalog-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
}

.filter-catalog-list {
  font-weight: 400;
  color: #ffffff;
}

.filter-catalog-button {
  display: flex;
  flex-direction: column;
}

.filters {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 56px;
}

.filters-view {
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
}

.filters-view-item:not(:last-child) {
  margin-right: 8px;

}

.filters-button {
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border-radius: 4px;
  border: 2px solid #E5E5E5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filters-button:focus {
  border-color: #68A2CA;
}

.filters-button:hover {
  border-color: #000000;
}

.filters-button:active {
  border-color: #000000;
}

.filters-button-current {
  border-color: #000000;
}

.button-apply {
  padding: 14px 15px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #82B3D3;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
  font-family: inherit;
}

.button-apply:focus {
  background-color: #68A2CA;
}

.button-apply:hover {
  background-color: #68A2CA;
}

.button-apply:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.button-apply:disabled {
  background-color: #E5E5E5;
}

.button-reset {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;
  font-family: inherit;
}

.button-favorite {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #82B3D3;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  min-height: 37px;
}

.button-favorite:focus {
  background-color: #68A2CA;
}

.button-favorite:hover {
  background-color: #68A2CA;
}

.button-favorite:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.button-favorite:disabled {
  background-color: #E5E5E5;
}

.button-favorite-select {
  background-color: #7DB54F;
}

.button-favorite-select:focus {
  background-color: #6C9E42;
}

.button-favorite-select:hover {
  background-color: #6C9E42;
}

.button-favorite-select:active {
  background-color: #7DB54F;
  color: rgba(255, 255, 255, 0.3);
}

.catalog {
  background-color: #ffffff;
  width: 100%;
  max-width: 1056px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 25px;
}

.catalog-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  gap: 78px;
  margin-bottom: 96px;
}

.catalog-card-content {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  gap: 16px;
}

.catalog-card-title {
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
  margin-top: 16px;
}

.catalog-card-image {
  margin-bottom: 0;
}

.catalog-result {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.catalog-card-link {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-transform: none;
  text-decoration: none;
}

.catalog-card-type {
  font-weight: 400;
}

.catalog-card-price {
  font-weight: 400;
}

.catalog-card-star {
  background-image: url("../images/catalog-star.svg");
  background-repeat: no-repeat;
  width: 18px;
  height: 17px;
}

.button-more {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #756157;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: inherit;
  min-height: 37px;
}

.button-more:focus {
  background-color: #615048;
}

.button-more:hover {
  background-color: #615048;
}

.button-more:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.button-more:disabled {
  background-color: #E5E5E5;
}

.catalog-card-rating {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border-radius: 4px;
  min-height: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-all {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  justify-content: space-between;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.pagination-item {
  list-style-type: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-amount {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.pagination-link {
  box-sizing: border-box;
  width: 55px;
  height: 55px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.pagination-link:focus {
  background-color: #68A2CA;
}

.pagination-link:hover {
  background-color: #68A2CA;
}

.pagination-link:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-current:focus {
  background-color: #F2F2F2;
}

.pagination-current:hover {
  background-color: #F2F2F2;
}

.pagination-current:active {
  background-color: #F2F2F2;
}

.catalog-amount-number {
  font-weight: 400;
  margin-right: 51px;
}

.catalog-amount {
  font-weight: 400;
}

.catalog-select-control {
  font-weight: 400;
  border-color: #E5E5E5;
}
