@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  background-color: #f2f2f2;
}

img {
  max-width: 100%;
  object-fit: contain;
}

.main-header {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color:#000000;
  background-color: #ffffff;
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #756157;
}



.navigation-link {
  font-size: 20px;
  font-weight: 700;
  color: inherit;
  background-color: #ffffff;
  text-decoration: none;
  text-transform: none;
}

.main-logo {
  color: #ffffff;
  background-color: #4825e1;
  background-image: url(../images/index-background.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.main-index {
  text-align: center;
}

.section-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.section-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-title-white {
  color:#ffffff;
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.advantages-number {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.advantages-description-white {
  color: #ffffff;
}

.advantages-number-white {
  color: #ffffff;
}

.footer-subscribe {
  text-align: center;
}

.footer-subscribe-button {
  text-transform: uppercase;
}

.footer-contacts-phone {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  color: inherit;
  background-color: #ffffff;
  text-decoration: none;
  text-transform:none;
}

.footer-subscribe {
  color: #ffffff;
  background-color: #4825e1;
  background-image: url(../images/subscribe-background.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.advantages-item-blue {
  background-color: #82B3D3;
}

.advantages-item-light-blue {
background-color: rgba(131, 179, 211, 0.12);
}

.filter {
  color: #ffffff;
  background-color: #4825e1;
  background-image: url(../images/catalog-background.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.filter-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
}

.filter-catalog-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.filter-catalog-list {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

.catalog-card-rating {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

.button-lower {
  text-transform: lowercase;
}

.result {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.field ::placeholder {
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

::placeholder

.select-control {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.catalog-amount-number {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.catalog-card-type {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.catalog-card-price {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.catalog-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  text-transform: none;
}

.button-blue {
  background-color: #82B3D3;
}

.button-brown {
  background-color: #756157;
}


